@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }

  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  /* Toastify */
  --toastify-color-success: rgb(22 163 74) !important;
  --toastify-color-error: rgb(220 38 38) !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }

  .Typewriter__cursor {
    color: black;
  }
}

body {
  background-color: rgb(var(--foreground-rgb));
  color: rgb(var(--foreground-rgb));
}

.Typewriter__cursor {
  color: white;
}